html{

    --font-regular: 'Roboto-regular',sans-serif; //400
    // --font-bold: 'Roboto-bold',sans-serif; //700
    // --font-medium: 'Roboto-medium',sans-serif; //500

    --color-font: #6a9bd8;
    // --color-accent: #fff;
    --color-bg: #ebf5fc;
    --color-bg-sel: #fff;
};